In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import seaborn as sns
from matplotlib.animation import PillowWriter
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn import preprocessing

In [28]:
data = pd.read_csv("Data\99guide6.csv")
df98 = pd.DataFrame(data)

# Create a new column with the fullname of the car
df98["FullName"] = "1988 " + df98["Manufacturer"] + " " + df98["carline name"]
df98["Model Year"] = '1988'
df98 = df98.astype({"Model Year": 'int64'})
df98 = df98.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df98 = df98[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df98.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes

           Data Types
Model Year      int64
FullName       object
MPG             int64
Eng Displ     float64
# Cyl           int64

In [30]:
is_clean = df98.isnull().sum() # finds any missing values for each column and sums it

print(is_clean) # print results

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

# Fill in the rest of the data

### 99

In [31]:
data = pd.read_csv("Data\99guide6.csv")
df99 = pd.DataFrame(data)

# Create a new column with the fullname of the car
df99["FullName"] = "1999 " + df99["Manufacturer"] + " " + df99["carline name"]
df99["Model Year"] = '1999'
df99 = df99.astype({"Model Year": 'int64'})
df99 = df99.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df99 = df99[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df99.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df99.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2000

In [32]:
data = pd.read_csv("Data\\2000.csv")
df00 = pd.DataFrame(data)
df00["FullName"] = "2000 " + df00["Manufacturer"] + " " + df00["carline name"]
df00["Model Year"] = '2000'
df00 = df00.astype({"Model Year": 'int64'})
df00 = df00.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df00 = df00[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df00.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df00.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2001

In [33]:
data = pd.read_csv("Data\\2001.csv")
df01 = pd.DataFrame(data)
df01["FullName"] = "2001 " + df01["Manufacturer"] + " " + df01["carline name"]
df01["Model Year"] = '2001'
df01 = df01.astype({"Model Year": 'int64'})
df01 = df01.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df01 = df01[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df01.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df01.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2002

In [34]:
data = pd.read_csv("Data\\2002.csv")
df02 = pd.DataFrame(data)
df02["FullName"] = "2002 " + df02["Manufacturer"] + " " + df02["carline name"]
df02["Model Year"] = '2002'
df02 = df02.astype({"Model Year": 'int64'})
df02 = df02.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df02 = df02[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df02.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df02.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2003

In [35]:
data = pd.read_csv("Data\\2003.csv")
df03 = pd.DataFrame(data)
df03["FullName"] = "2003 " + df03["Manufacturer"] + " " + df03["carline name"]
df03["Model Year"] = '2003'
df03 = df03.astype({"Model Year": 'int64'})
df03 = df03.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df03 = df03[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df03.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df03.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2004

In [36]:
data = pd.read_csv("Data\\2004.csv")
df04 = pd.DataFrame(data)
df04["FullName"] = "2004 " + df04["Manufacturer"] + " " + df04["carline name"]
df04["Model Year"] = '2004'
df04 = df04.astype({"Model Year": 'int64'})
df04 = df04.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df04 = df04[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df04.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df04.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2005

In [37]:
data = pd.read_csv("Data\\2005.csv")
df05 = pd.DataFrame(data)
df05["FullName"] = "2005 " + df05["Manufacturer"] + " " + df05["carline name"]


df05["Model Year"] = '2005'
df05 = df05.astype({"Model Year": 'int64'})
df05 = df05.rename(columns={"cmb": "MPG", "displ":"Eng Displ", "cyl":"# Cyl"})
df05 = df05[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df05.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df05.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2006

In [38]:
data = pd.read_csv("Data\\2006.csv")
df06 = pd.DataFrame(data)
df06["FullName"] = "2006 " + df06["MFR"] + " " + df06["CAR LINE"]
df06["Model Year"] = '2006'
df06 = df06.astype({"Model Year": 'int64'})
df06 = df06.rename(columns={"COMB MPG (GUIDE)": "MPG", "DISPLACEMENT":"Eng Displ", "NUMB CYL":"# Cyl"})
df06 = df06[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df06.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df06.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2007

In [39]:
data = pd.read_csv("Data\\2007.csv")
df07 = pd.DataFrame(data)
df07["FullName"] = "2007 " + df07["MFR"] + " " + df07["CAR LINE"]
df07["Model Year"] = '2007'
df07 = df07.astype({"Model Year": 'int64'})
df07 = df07.rename(columns={"COMB MPG (GUIDE)": "MPG", "DISPLACEMENT":"Eng Displ", "NUMB CYL":"# Cyl"})
df07 = df07[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df07.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df07.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2008

In [40]:
data = pd.read_csv("Data\\2008.csv")
df08 = pd.DataFrame(data)
df08["FullName"] = "2008 " + df08["MFR"] + " " + df08["CAR LINE"]
df08["Model Year"] = '2008'
df08 = df08.astype({"Model Year": 'int64'})
df08 = df08.rename(columns={"COMB MPG (GUIDE)": "MPG", "DISPLACEMENT":"Eng Displ", "NUMB CYL":"# Cyl"})
df08 = df08[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df08.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df08.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2009

In [41]:
data = pd.read_csv("Data\\2009.csv")
df09 = pd.DataFrame(data)
df09["FullName"] = "2009 " + df09["MFR"] + " " + df09["CAR LINE"]
df09["Model Year"] = '2009'
df09 = df09.astype({"Model Year": 'int64'})
df09 = df09.rename(columns={"COMB MPG (GUIDE)": "MPG", "DISPLACEMENT":"Eng Displ", "NUMB CYL":"# Cyl"})
df09 = df09[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df09.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df09.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2010

In [44]:
data = pd.read_csv("Data\\2010.csv", low_memory=False)
df10 = pd.DataFrame(data)
empty_cols = [col for col in df10.columns if df10[col].isnull().all()]
df10.drop(empty_cols, axis=1, inplace=True)
df10["FullName"] = "2010 " + df10["Mfr Name"] + " " + df10["Carline"]

df10.dropna(subset=['# Cyl'], how='all', inplace=True)
df10 = df10.astype({"# Cyl": 'int64'})

df10 = df10.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG", "Model Yr":"Model Year"})
df10 = df10[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df10.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df10.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2011

In [45]:
data = pd.read_csv("Data\\2011.csv", low_memory=False)
df11 = pd.DataFrame(data)
empty_cols = [col for col in df11.columns if df11[col].isnull().all()]
df11.drop(empty_cols, axis=1, inplace=True)
df11["FullName"] = "2011 " + df11["Mfr Name"] + " " + df11["Carline"]


df11.dropna(subset=['# Cyl'], how='all', inplace=True)
df11 = df11.astype({"# Cyl": 'int64'})

df11 = df11.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG", "Model Yr":"Model Year"})
df11 = df11[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df11.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df11.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2012

In [46]:
data = pd.read_csv("Data\\2012.csv", low_memory=False)
df12 = pd.DataFrame(data)
empty_cols = [col for col in df12.columns if df12[col].isnull().all()]
df12.drop(empty_cols, axis=1, inplace=True)
df12["FullName"] = "2012 " + df12["Mfr Name "] + " " + df12["Carline"]


df12.dropna(subset=['# Cyl'], how='all', inplace=True)
df12 = df12.astype({"# Cyl": 'int64'})

df12 = df12.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG", "Model Yr":"Model Year"})
df12 = df12[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df12.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df12.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2013

In [47]:
data = pd.read_csv("Data\\2013.csv", low_memory=False)
df13 = pd.DataFrame(data)
empty_cols = [col for col in df13.columns if df13[col].isnull().all()]
df13.drop(empty_cols, axis=1, inplace=True)
df13["FullName"] = "2013 " + df13["Mfr Name"] + " " + df13["Carline"]
df13 = df13.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df13 = df13[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df13.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df13.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2014

In [48]:
data = pd.read_csv("Data\\2014.csv", low_memory=False)
df14 = pd.DataFrame(data)
empty_cols = [col for col in df14.columns if df14[col].isnull().all()]
df14.drop(empty_cols, axis=1, inplace=True)
df14["FullName"] = "2014 " + df14["Mfr Name"] + " " + df14["Carline"]
df14 = df14.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df14 = df14[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df14.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df14.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2015

In [49]:
data = pd.read_csv("Data\\2015.csv", low_memory=False)
df15 = pd.DataFrame(data)
empty_cols = [col for col in df15.columns if df15[col].isnull().all()]
df15.drop(empty_cols, axis=1, inplace=True)
df15["FullName"] = "2015 " + df15["Mfr Name"] + " " + df15["Carline"]
df15 = df15.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df15 = df15[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df15.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df15.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2016

In [50]:
data = pd.read_csv("Data\\2016.csv", low_memory=False)
df16 = pd.DataFrame(data)
empty_cols = [col for col in df16.columns if df16[col].isnull().all()]
df16.drop(empty_cols, axis=1, inplace=True)
df16["FullName"] = "2016 " + df16["Mfr Name"] + " " + df16["Carline"]
df16 = df16.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df16 = df16[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df16.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df16.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2017

In [51]:
data = pd.read_csv("Data\\2017.csv", low_memory=False)
df17 = pd.DataFrame(data)
empty_cols = [col for col in df17.columns if df17[col].isnull().all()]
df17.drop(empty_cols, axis=1, inplace=True)
df17["FullName"] = "2017 " + df17["Mfr Name"] + " " + df17["Carline"]
df17 = df17.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df17 = df17[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df17.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df17.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2018

In [52]:
data = pd.read_csv("Data\\2018.csv", low_memory=False)
df18 = pd.DataFrame(data)
empty_cols = [col for col in df18.columns if df18[col].isnull().all()]
df18.drop(empty_cols, axis=1, inplace=True)
df18["FullName"] = "2018 " + df18["Mfr Name"] + " " + df18["Carline"]
df18 = df18.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df18 = df18[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df18.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df18.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2019

In [53]:
data = pd.read_csv("Data\\2019_1.csv",encoding= 'unicode_escape')
df19 = pd.DataFrame(data)
empty_cols = [col for col in df19.columns if df19[col].isnull().all()]
df19.drop(empty_cols, axis=1, inplace=True)
df19["FullName"] = "2019 " + df19["Mfr Name"] + " " + df19["Carline"]
df19 = df19.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df19 = df19[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df19.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df19.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2020

In [54]:
data = pd.read_csv("Data\\2020.csv",encoding= 'unicode_escape')
df20 = pd.DataFrame(data)
empty_cols = [col for col in df20.columns if df20[col].isnull().all()]
df20.drop(empty_cols, axis=1, inplace=True)
df20["FullName"] = "2020 " + df20["Mfr Name"] + " " + df20["Carline"]
df20 = df20.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df20 = df20[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df20.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df20.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2021

In [55]:
data = pd.read_csv("Data\\2021.csv", encoding= 'unicode_escape')
df21 = pd.DataFrame(data)
empty_cols = [col for col in df21.columns if df21[col].isnull().all()]
df21.drop(empty_cols, axis=1, inplace=True)
df21["FullName"] = "2021 " + df21["Mfr Name"] + " " + df21["Carline"]
df21 = df21.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df21 = df21[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df21.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df21.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2022

In [56]:
data = pd.read_csv("Data\\2022.csv", encoding= 'unicode_escape')
df22 = pd.DataFrame(data)
empty_cols = [col for col in df22.columns if df22[col].isnull().all()]
df22.drop(empty_cols, axis=1, inplace=True)
df22["FullName"] = "2022 " + df22["Mfr Name"] + " " + df22["Carline"]
df22 = df22.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df22 = df22[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df22.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df22.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2023

In [57]:
data = pd.read_csv("Data\\2023.csv", encoding= 'unicode_escape')
df23 = pd.DataFrame(data)
empty_cols = [col for col in df23.columns if df23[col].isnull().all()]
df23.drop(empty_cols, axis=1, inplace=True)
df23["FullName"] = "2023 " + df23["Mfr Name"] + " " + df23["Carline"]
df23 = df23.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df23 = df23[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df23.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df23.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

### 2024

In [58]:
data = pd.read_csv("Data\\2024.csv", encoding= 'unicode_escape')
df24 = pd.DataFrame(data)
empty_cols = [col for col in df24.columns if df24[col].isnull().all()]
df24.drop(empty_cols, axis=1, inplace=True)
df24["FullName"] = "2024 " + df24["Mfr Name"] + " " + df24["Carline"]
df24 = df24.rename(columns={"Comb FE (Guide) - Conventional Fuel": "MPG"})
df24 = df24[['Model Year','FullName','MPG','Eng Displ','# Cyl']].copy()
dataTypes = df24.dtypes.to_frame(name='Data Types') # turn data types into data frame
dataTypes
is_clean = df24.isnull().sum()
print(is_clean)

Model Year    0
FullName      0
MPG           0
Eng Displ     0
# Cyl         0
dtype: int64

# Combine all dataframes

In [62]:
#result = pd.concat([df24, df23], axis=1, join="inner")
result = df24.merge(df23, how='outer', sort=True)
result = result.merge(df22, how='outer', sort=True)
print(result[['FullName','Comb FE (Guide) - Conventional Fuel']].head())
print(result.shape)
print(result['FullName'])
# print(result)

                          FullName  Comb FE (Guide) - Conventional Fuel
0         2022 BMW 228i Gran Coupe                                   28
1  2022 BMW 228i xDrive Gran Coupe                                   27
2              2022 BMW 230i Coupe                                   29
3              2022 BMW 330i Sedan                                   30
4       2022 BMW 330i xDrive Sedan                                   28
(2411, 126)
0              2022 BMW 228i Gran Coupe
1       2022 BMW 228i xDrive Gran Coupe
2                   2022 BMW 230i Coupe
3                   2022 BMW 330i Sedan
4            2022 BMW 330i xDrive Sedan
                     ...
2406            2024 Toyota NX 350h AWD
2407                2024 Toyota UX 250h
2408                2024 Toyota UX 250h
2409            2024 Toyota UX 250h AWD
2410            2024 Toyota UX 250h AWD
Name: FullName, Length: 2411, dtype: object

In [63]:
from functools import reduce
data_frames = [df98, df99, df00, df01, df02, df03, df04, df05, df06, df07, df08, df09, df10, df11, df12, df13, df14, df15, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24]
df_merged = reduce(lambda  left,right: pd.merge(left,right,how='outer', sort=True), data_frames)
print(df_merged.shape)
print(df_merged)
df_merged.to_csv('AllCarsCondensed.csv', index=False)

(29236, 5)
       Model Year                 FullName  MPG  Eng Displ  # Cyl
0            1989   1988 ACURA 2.3CL/3.0CL   23        3.0      6
1            1989   1988 ACURA 2.3CL/3.0CL   25        2.3      4
2            1989   1988 ACURA 2.3CL/3.0CL   27        2.3      4
3            1989         1988 ACURA 3.2TL   22        3.2      6
4            1989         1988 ACURA 3.5RL   20        3.5      6
...           ...                      ...  ...        ...    ...
29231        2024  2024 Toyota NX 350h AWD   39        2.5      4
29232        2024      2024 Toyota UX 250h   42        2.0      4
29233        2024      2024 Toyota UX 250h   42        2.0      4
29234        2024  2024 Toyota UX 250h AWD   39        2.0      4
29235        2024  2024 Toyota UX 250h AWD   39        2.0      4

[29236 rows x 5 columns]